.PauseConteiner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.PauseConteiner__modal {
  background-color: white;
  border-radius: 32px;
  padding: 40px 10px;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  max-width: 412px;
  height: 533px;
  width: 90%;
}

.PauseConteiner__title {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 40px;
  font-family: "DrukWideCyr-Bold", sans-serif;
  color: #000;
}

.PauseConteiner__button {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: 'Montserrat-Bold', sans-serif;
  border: none;
}

.PauseConteiner__button:hover {
  background-color: #000;
  color: white;
}

.PauseConteiner__joblix {
  font-size: 20px;
  font-weight: 900;
  margin-top: 32px;
  letter-spacing: 1px;
  color: #000;
}
