.LevelTasks {
    width: 100%;
    padding: 80px 0;
}

.LevelTasks__header {
    text-align: center;
    margin-bottom: 80px;
}

.LevelTasks__title {
    font-family: "DrukWideCyr-Bold", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #00D9FF;
    margin: 0;
    margin-bottom: 10px;
}

.LevelTasks__level {
    font-family: "Geologica", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin: 0;
}

.LevelTasks__path {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.LevelTasks__section {
    position: relative;
    width: 100%;
    height: 250px;
}

.LevelTasks__task {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.LevelTasks__task-3{
    margin-top: 100px;
}
.LevelTasks__task-4{
    margin-top: 100px;
}

.LevelTasks__task--left {
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
}

.LevelTasks__task--right {
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
}

.LevelTasks__circle {
    width: 161px;
    height: 161px;
    background: #00D9FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.LevelTasks__label {
    font-family: "Montserrat-Light", sans-serif;
    font-size: 25.88px;
    font-weight: 600;
    color: white;
}

.LevelTasks__curve {
    position: absolute;
    width: 100%;
    height: auto;
    pointer-events: none;
    opacity: 0.8;
}

.LevelTasks__curve--1 {
    width: 475.56px;
    height: 334.58px;
    top: 160px;
    left: 360px;
}

.LevelTasks__curve--2 {
    width: 802.63px;
    height: 345.46px;
    top: 350px;
    left: 400px;
}

.LevelTasks__curve--3 {
    width: 833.49px;
    height: 260.17px;
    top: 700px;
    left: 0;
}
