.HeaderSimulation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    height: 110px;
}
.Header_logo, .Header_nav{
margin: 20px;

}
.Header_logo img {
    height: 40px; 
}

.Header_nav {
    display: flex;
    gap: 30px;
}

.Header_nav a {
    font-family: 'Montserrat-Light';
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    margin: 0 30px;
    transition: color 0.2s;
}

.Header_nav a:hover {
    color: #4a90e2;
}

.Stars{
    display: flex;
    align-items: center;
    align-self: flex-start;
}
.Stars p{
    font-family: "Montserrat-Light", sans-serif;
    margin-top: 3px;
    font-size: 24px;
}