@font-face {
    font-family: 'Montserrat-Light';
    src: url("../assets/fonts/Montserrat/static/Montserrat-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;   
    font-display: swap;
}
@font-face {
    font-family: "DrukWideCyr-Bold";
    src: url("../assets/fonts/Druk Wide Cyr/fonts/drukwidecyr-bold.ttf") format('truetype');
}