.soon-realese{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.soon-realese__title{
    font-family: "DrukWideCyr-Bold";
    font-size: 1.5rem;
    text-align: center;
    text-align: start;
}