.welcome_conteiner {
    display: flex;
    justify-content: center;
    height: 90vh;
}

.welcome_conteiner article {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 925px;
}

.welcome_conteiner article h1 {
    text-align: center;
    margin-top: 167px;
    font-family: "DrukWideCyr-Bold";
    font-size: 2.3rem;
}

.welcome_conteiner article p {
    width: 505px;
    font-size: 23.22px;
    text-align: center;
    margin: 25px auto 0 auto;
    font-family: "Montserrat-Light";
}

.choose_btn_container {
    position: relative;
    margin-top: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose_btn_container a {
    position: relative;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 34.9px;
    border-radius: 100px;
    background-color: #00C0D8;
    color: #fff;
    z-index: 2;
    font-family: "Montserrat-Light";
    transition: transform 0.2s ease;
}

.choose_btn_container a:hover {
    transform: scale(1.05);
}

.maskot {
    position: absolute;
    z-index: 1;
    left: -14px;
    bottom: 20px;
    transform: rotate(-5.93deg);
}