.Footer {
  background-color: #1e1e1e;
  padding: 40px 60px;
}
.Footer *{
  font-family: "Montserrat-Light", sans-serif;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.footer-support-title {
  font-size: 20px;
  font-weight: 600;
}

.footer-logo {
  height: 40px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}


.footer-phones {
    flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 12px;
}



.footer-phone-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #999999;
}

.footer-icon {
  width: 20px;
  height: 20px;
}
.footer-icon span{
  font-size: 20px;
  color: #999999;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-nav a {
  color: #999999;
  text-decoration: none;
  font-size: 16px;
  transition: opacity 0.2s;
}

.footer-nav a:hover {
  opacity: 0.7;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-social-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #999999;
}


.footer-icon-instagram{
    width: 49px;
    height: 29px;
}